@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
img {
  z-index: -1;
}
.container {
  display: flex;
  width: 90vw;
  margin-top: 30px;
  margin-bottom: 20px;
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5px;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}
.panel button {
  margin: 0;
  opacity: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 620px;
  left: 145px;
}
.panel h3 {
  font-size: 24px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 4;
}
.panel.active button {
  opacity: 1;
  transition: opacity 0.3s ease-in 1s;
  cursor: pointer;
  border: 1px solid #6d6875c5;
  border-radius: 30px;
  padding: 20px;
  background-color: #6d6875c5;
  color: white;
}
.panel.active button:hover {
  background-color: white;
  border: white;
  color: #6d6875;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 1s;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 570px;
}
.panel.active a {
  text-decoration: none;
  color: white;
}
.panel.active a:hover {
  text-decoration: none;
  color: #6d6875;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
